#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #B533FF;
  color: #e8fdff;
  padding: 0 2em;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px;
}

#nav-bar .header {
  float: left;
  margin: 15px;
  font-size: 200%;
}

#nav-bar button.compose {
  float: right;
  margin: 15px;
  width: 100px;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #eee;
  opacity: 0.5;
}

#nav-bar button:hover {
  opacity: 1;
}

#nav-bar span.button {
  background-color: #fff;
}